@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.controls #stop, #start {
  text-decoration: none;
  height: 50px;
  width: 200px;
  color: #FFFFFF;
  background-color: #26de81;
  margin: 50px auto;
  border-radius: 60px;
}

.results {
  color: #26de81;
  margin: 20px auto;
}



