@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.controls #stop, #start {
  text-decoration: none;
  color: #26de81;
  font-size: 25px;
  margin: 50px auto;
  display: block;
  text-align: center;
}

.stopwatch {
  color: #26de81;
  margin: 20px auto;
  text-align: center;
  display: block;
}



